*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

:root{
    --mainColor: #293335;
    --mainColorLight: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: #EEE;
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0px 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondaryColor);
}

.container-nav .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    .container-nav .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    .container-nav nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    .container-nav .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    nav a{
        font-size: 1.2rem;
    }
}

header{
    height: 100vh;
    width: 100%;
    background: #5767aa;
}

h1{
    padding: 40px;
}