
.container-valor{
    height: 20vh;
    display: flex;
    padding: 10px;
    align-items: center;
    margin: 0px 0px 20px 20px;
    box-shadow: 1px 1px 5px #c7c7c7;
    background-color: #dfedf1;
    
}
.right{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 20px 20px 0px;
}
.right p{
    width: 800px;

}


.left p{
    width: 800px;
    line-height: 1.2;
    font-size: 16.5px;
}


.valores{
    height: 100vh;
    width: 100%;
}