.card{
    width: 220px;
    height: 30vh;
    background-color: #e8f1f2; 
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px 5px #c1c0c0;
    padding: 10px;
    margin: 10px;
}

.card div p {
    font-size: .9rem;
    margin-top: 10px;
    line-height: .5cm;
}
.icone > svg > path{
    height: 50px;
}


.serviços{
    background-color: #f7f7f7;
    height: fit-content;
}
